{{#if user}}

<div class="ui small menu borderless sticky">
    <a class="active item" data-type="top">Top</a>
    <a class="item" data-type="hot">Hot</a>
    <a class="item" data-type="trending">Trending</a>

    <div class="right menu">
        <div class="logo_tiny">Meme<span class="invert">Hub</span></div>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui button orange" id="upload"><i class="upload icon"></i>Upload Meme</div>
        </div>
        <div class="item">
            <div class="ui button" id="logout"><i class="sign out icon"></i>Logout</div>
        </div>
        <div class="avatar"><img src="{{user.avatar}}"></div>
    </div>
</div>

{{else}}

<div class="ui small menu borderless sticky">
    <a class="active item" data-type="top">Top</a>
    <a class="item" data-type="hot">Hot</a>
    <a class="item" data-type="trending">Trending</a>

    <div class="right menu">
        <div class="logo_tiny">Meme<span class="invert">Hub</span></div>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui orange button" id="login"><i class="user icon"></i>Login</div>
        </div>
    </div>
</div>

{{/if}}

<form id="sort" action="sort" method="post">
    <input type="text" hidden="hidden" name="sort_type" value="">
</form>