body{
    background-color:#efefef;
}

.ui.button{
    background-color:#e89c23;
    color:white;
}

.ui.menu{
    border-radius: 0;
    margin:0;
    position:fixed;
    top:0;
    width:100%;
}

.parallax {
    background-color:#212121;
    position:fixed;
    top:30px;
    height:400px;
    width:100%;
    z-index:-1;
    
}

.logo{
    color:white;
    font-size: 70px;
    display:inline-block;
    margin:0 auto;
    margin-bottom:150px;
    font-family: 'Viga', sans-serif;
}

.logo_small{
    display: inline-block;
    color:#212121;
    font-size: 50px;
    margin:0 auto;
    margin:20px 0px;
    font-family: 'Viga', sans-serif;
}

.logo_small .invert{
    color:white;
}

.login .container{
    text-align: center;
}

.invert{
    color:#212121;
    background-color:#e89c23;
    border-radius: 30px;
    padding:5px 8px 5px 8px;
    margin-left:8px;
}

.container {
    overflow: hidden;
    background-color:white;
    width:600px;
    margin:0 auto;
    border-radius: 10px;
    box-shadow:1px 1px 7px rgba(0,0,0,.5);
    padding:5px;
    text-align: center;
    margin-bottom:50px;
}

.meme_container{
    background-color:red;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
    width:500px;
    border-radius: 10px;
    overflow: hidden;
    font-size:17px;
    text-align: left;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.meme_title, .meme_details{
    display:block;
    padding:5px 10px;
}

.meme_title{
    background-color:#212121;
    color:white;
}

.meme_details{
    color:#212121;
    background-color:#e89c23;
}

img{
    width: 100%;
    height:auto;
}

.meme_stats{
    background-color: #212121;
    color:white;
    padding:5px 10px;
    display: flex;
}

.meme_stats span{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

.meme_stats i:hover{
    opacity: .5;
}

.ui.container{
    width:100%;
    border-radius: 0;
    bottom:0;
    margin:0;
    color:white;
    background-color:#212121;
}

.wrapper{
    width:600px;
    margin:0 auto;
    margin-top:200px;
    text-align: center;
}

.login .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.ui.left.icon.input, .ui.submit.button{
    width:300px;
    margin:0 auto;
    margin-top:10px;
}

.share-buttons{
    padding: 10px;
    color: white;
    font-size: 12px;
    background-color: darkorange;
    border: 1px solid #212121;
    border-radius: 5px;
    cursor: pointer;
}

.share-buttons:hover{
    background-color: #e37a0e;
}

#custom-text{
    margin-left: 10px;
    font-family: 'Viga', sans-serif;
    color: dimgrey;
}

.header{
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Viga', sans-serif;
    color: #212121;
    
}
.content{
    margin-left: 10px;
    font-family: 'Viga', sans-serif;
    color: #212121;
}